@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #FFFF23;
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  font-size: 18px;
  margin: 0;
  color: #3ced43;
}

.city {
  background-color: #ffff;
  color: darkgray;
  padding-bottom: 10px
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-family: "Arial", sans-serif;
  font-size: 62px;
}
